{% extends '/parts/base.twig' %}
{% block body %}
    <h1>Удостоверяющие документы</h1>
    {% if user is not null %}
        <p></p>
        <form method="get" action="/passport">
            <button type="submit" class="btn btn-primary" style="width:300px;">Паспорт</button>
        </form>
        <p></p>
        <form method="get" action="/international-passport">
            <button type="submit" class="btn btn-primary" style="width:300px;">Заграничный Паспорт</button>
        </form>
        <p></p>
        <form method="get" action="/military">
            <button type="submit" class="btn btn-primary" style="width:300px;">Военный билет</button>
        </form>
        <p></p>
    {% else %}
        <p>Авторизуйтесь, чтобы получить доступ к данным!</p>
    {% endif %}
    <p></p>
    <form method="get" action="/">
        <button type="submit" class="btn btn-primary" style="float: left; margin: 0 2px">Вернуться на главную страницу</button>
    </form>
{% endblock %}